<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
      <h1>Download dos Arquivos</h1>
        <p>Seu vídeo foi processado com sucesso! Baixe os arquivos abaixo:</p>
          <a href="{{ url_for('output_file', filename=audio_file) }}" download><button> Baixar Áudio </button></a><br>
          <a href="{{ url_for('output_file', filename=transcription_file) }}" download><button> Baixar Texto </button></a>
    </div>
</body>
</html>
